@model Estudo_C_.Models.Veiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar informações</h1>

<h3>Tem certeza que deseja apagar esse veículo?</h3>
<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anoModelo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
      
    </form>
</div>
